In [1]:
import pandas as pd
df = pd.read_csv('SBAnational.csv')
df.iloc[0]

/tmp/ipykernel_38698/2775028688.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

LoanNr_ChkDgt              1000014003
Name                   ABC HOBBYCRAFT
City                       EVANSVILLE
State                              IN
Zip                             47711
Bank                 FIFTH THIRD BANK
BankState                          OH
NAICS                          451120
ApprovalDate                28-Feb-97
ApprovalFY                       1997
Term                               84
NoEmp                               4
NewExist                          2.0
CreateJob                           0
RetainedJob                         0
FranchiseCode                       1
UrbanRural                          0
RevLineCr                           N
LowDoc                              Y
ChgOffDate                        NaN
DisbursementDate            28-Feb-99
DisbursementGross         $60,000.00
BalanceGross                   $0.00
MIS_Status                      P I F
ChgOffPrinGr                   $0.00
GrAppv                    $60,000.00
SBA_Appv                  $48,000.00
Name: 0, dtype: object

In [136]:
def daterange_between(a_start, a_end, b_start, b_end):
    return np.minimum(a_end, b_end) > np.maximum(a_start, b_start)

In [139]:
import numpy as np
cols = ['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']
df[cols] = df[cols].replace({'\$': '', ' ': '', ',':''}, regex=True).astype(float)
df['DisbursementDate'] = pd.to_datetime(df['DisbursementDate'][0])
df = df.assign(
    RealEstate = lambda x: pd.cut(x['Term'], bins=[0, 240, 999999], labels=[0,1]),
    Portion = lambda x: x['SBA_Appv'] / x['DisbursementGross'],
    EndDate = lambda x: x['DisbursementDate'] + x['Term'].astype('timedelta64[M]'),
    Recession = lambda x: daterange_between(np.datetime64('2007-12-01'),np.datetime64('2009-01-01'), x['DisbursementDate'], x['EndDate'])
)

df.iloc[:10]

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,RealEstate,Portion,EndDate,Recession
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,60000.0,0.0,P I F,0.0,60000.0,48000.0,0,0.80000,2006-02-28,False
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,40000.0,0.0,P I F,0.0,40000.0,32000.0,0,0.80000,2004-02-28,False
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,287000.0,0.0,P I F,0.0,287000.0,215250.0,0,0.75000,2014-02-28,True
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,35000.0,0.0,P I F,0.0,35000.0,28000.0,0,0.80000,2004-02-28,False
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,229000.0,0.0,P I F,0.0,229000.0,229000.0,0,1.00000,2019-02-28,True
5,1000084002,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,28-Feb-97,1997,...,517000.0,0.0,P I F,0.0,517000.0,387750.0,0,0.75000,2009-02-27,True
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,600000.0,0.0,CHGOFF,208959.0,600000.0,499998.0,0,0.83333,2002-11-28,False
7,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,...,45000.0,0.0,P I F,0.0,45000.0,36000.0,0,0.80000,2006-02-28,False
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,...,305000.0,0.0,P I F,0.0,305000.0,228750.0,1,0.75000,2023-11-28,True
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,70000.0,0.0,P I F,0.0,70000.0,56000.0,0,0.80000,2006-02-28,False